# Fichiers système
.DS_Store

# Fichiers volumineux (limite GitHub : 100MB par fichier)
dataset.zip
code&dataset/training_set/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
venv/
.venv/
.env

# Jupyter
.ipynb_checkpoints/
